.quote-wrapper {
  margin: 20px;
  font-size: x-large;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  span.quote {
    font-size: xx-large;
  }

  span.quote:hover {
    color: white;
  }

  p:nth-of-type(1) {
    margin-top: 70px;
  }
}
