@import "resources/styles/variables", "resources/styles/color-themes";

.figure-wrapper {
  display: flex;
  display: row wrap;
  justify-content: center;

  figure {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin: 20px;

    img {
      display: block;
      width: 400px;
      height: 400px;
      object-fit: scale-down;
    }

    figcaption {
      text-align: center;
      font-size: xx-large;
      color: $breakingBadGreen;

      p {
        display: inline-block;
        position: relative;
      }

      a p::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        @include themed() {
          background-color: t($text);
        }
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }

      a p:hover {
        @include themed() {
          color: t($text);
        }
      }

      @media (hover: hover) and (pointer: fine) {
        a p:hover::before {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }
  }
}
