@import "resources/styles/color-themes";

.episode-wrapper {
  margin: 20px;
  font-size: x-large;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  span.episode {
    font-size: xx-large;
  }

  span.episode:hover {
    @include themed() {
      color: t($text);
    }
  }

  p:nth-of-type(1) {
    margin-top: 70px;
  }
}
