@import "resources/styles/variables", "resources/styles/color-themes";

.nav-button {
  @include themed() {
    background-color: t($btn-bg);
    color: t($text);
  }
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid $breakingBadGreen;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
}

.nav-button:hover {
  @include themed() {
    color: t($text-hover);
  }
  background-color: $breakingBadGreen;
  cursor: pointer;
}

@media all and (max-width: 30em) {
  .nav-button {
    display: block;
    margin: 0.4em auto;
  }
}
